<template>
	<div class="posts">
		<div class="search">
			<input
				type="text"
				v-model="searchName"
				placeholder="Filter posts by user names..."
			/>
		</div>
		<div id="posts-list" class="row">
			<div class="col-sm-6 col-md-4 col-lg-3" v-for="post of filteredPosts" :key="post.id">
				<post
					:post="post"
					:createdBy="post.user"
					:comments="post.comments"
					:link="`/post/${post.id}`"
				></post>
			</div>
		</div>
	</div>
</template>

<script>
import store from "../store/store";
import Post from "../components/Post.vue";

export default {
	components: {
		Post
	},
	data() {
		return {
			state: store.state,
			searchName: ''
		};
	},
	computed: {
		filteredPosts: function() {
			var a = this.state.posts.filter(post => {
				return post.user.name.toLowerCase().includes(this.searchName.toLowerCase());
			});
			return a;
		}
	}
};
</script>

<style>
#posts-list {
	padding: 6px;
}
#posts-list > div {
	padding: 6px;
}
#posts-list .post {
	border: 1px solid #ccc;
}
.search input {
	background-image: url("../assets/search-solid.svg");
	background-size: 22px;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ccc;
	margin-bottom: 12px;
}
</style>
