<template>
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<post
				:post="post"
				:createdBy="post.user"
				:comments="post.comments"
				:showComments="true"
			></post>
		</div>
	</div>
</template>

<script>
import store from "../store/store";
import Post from "../components/Post";

export default {
	components: {
		Post
	},
	props: {
		id: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			state: store.state,
			post: {}
		};
	},
	watch: {
		id: {
			handler(newVal) {
				var post = this.state.posts.find(p => p.id == newVal)
				if (typeof post == 'undefined') {
					this.$router.push({ name: '404' });
					return;
				}
				this.post = post
			},
			immediate: true
		}
	}
};
</script>
