<template>
	<div class="post">
		<router-link v-if="link" :to="link"
			><h3>{{ post.title }}</h3></router-link
		>
		<h3 v-else>{{ post.title }}</h3>
		<p>Post by {{ createdBy.name }}, {{ 'Comment' | pluralize(numberOfComments, true) }}</p>
		<div v-html="post.body"></div>
		<div v-if="showComments" class="comments">
			<h5>Comments</h5>
			<ul>
				<template v-if="numberOfComments > 0">
					<li v-for="comment of comments" :key="comment.id">
						<p class="by">by {{ comment.email | removeEmailDomain }}</p>
						<p class="name">{{ comment.name }}</p>
						<p class="body">{{ comment.body }}</p>
					</li>
				</template>
				<template v-else>
					<li>No comments yet</li>
				</template>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		post: {
			type: Object,
			default() {
				return { title: "", body: "" };
			}
		},
		createdBy: {
			type: Object,
			default() {
				return { name: "" };
			}
		},
		comments: {
			type: Array,
			default() {
				return [];
			}
		},
		link: {
			type: String
		},
		showComments: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		numberOfComments() {
			return this.comments.length;
		}
	}
};
</script>
<style>
.post {
	position: relative;
	padding: 20px;
}
.post p {
	font-size: 13px;
}
.post .read-more {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.comments {
	padding-top:10px;
	margin-top:10px;
	border-top: 1px solid #ccc;
}
.comments ul {
	list-style: none;
	padding: 0px;
}
.comments ul > li {
	padding: 10px;
	background-color: #eee;
	margin-bottom: 10px;
}
</style>
