<template>
	<div class="container">
		<div class="header">
			<router-link to="/posts">Posts</router-link>
		</div>

		<router-view />
	</div>
</template>

<style scoped>
.header {
	overflow: hidden;
	background-color: #ccc;
	padding: 10px;
	margin-bottom: 20px;
}
.header a {
	float: right;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}
.header a:hover {
	background-color: #ddd;
}
.header a.router-link-active {
	background-color: dodgerblue;
	color: white;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}
</style>
